<div class="content-box">
  <p>If you haven't been deterred by the look of this website and are instead interested in my other work, please reach me at: </p>
  <p>hoisington.tanner@gmail.com</p>
  <br>
  <br>
  <p>Also:</p>
  <ul>
    <li><a href="https://drive.google.com/open?id=0Bw_Isj7W_PKwYmtPQ1lfdDhnS2JNX01xTnYxRTVjNjIzV1JJ">Here is a link to my resume</a></li>
    <li><a href="https://drive.google.com/open?id=0Bw_Isj7W_PKwSm82ckc3a2t1dHhlVk05TGdkTF9kV2tBN0Vn">And here is a link to a letter of recommendation from my boss (in German!)</a></li>
  </ul>
</div>
