<!--The content below is only a placeholder and can be replaced.-->
<nav id="side">
  <h1>Tanner Hoisington</h1>
  <h4>Searching for Junior Front-End Position</h4>
  <div id="me"></div>
  <ul class="menu">
    <li routerLink="/about">About</li>
    <li routerLink="/projects">Projects</li>
    <li routerLink="/contact">Contact</li>
  </ul>
  <div class="note">
  <p><strong>Note: This site is a major work in progress!</strong></p>
  <p>I spent too much time learning angular and not making this site pretty. I say I don't have time because
  if you are seeing this site then you know I am trying to contact companies in Augsburg before the holidays! Please just think of this site for
  now as a link to some of my past projects. Thanks - Tanner</p>
  </div>
</nav>
<div id="main">
  <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- <a >Dashboard</a>
<a routerLink="/heroes">Heroes</a> -->
